#contenedor{
    width: 75%;
    margin: 0px auto;
}
table{
    width: 100%;
}
#contenedor table td{
    background: grey;
}


#contenedor table .td1{
    background-color: rgb(223, 223, 223);
    color: black;

}

#contenedor table .td1 span{
    color: red;
   
}

#contenedor table .envio{
    text-align: right;
    background: none;
}